

<div class = "container">
<div class="jumbotron" style="box-shadow: 10px 10px 5px #3E3F3A">
<h3 class="section-header">Technical Skills</h3> 

 
    <div  class = "row" >
            
      
      <div class = "col-xs-10 col-xs-offset-1" style= " padding: 20px; color: black"> 
          
           <p style="font-size: 1.1em"> 
            Here is a quick list of some of the programming skills I have picked up either by taking courses or else by completing projects. </p>

            <p style="font-size: 1.1em"> 
            <b>Languages:</b> Java, javascript, python, scala, actionscript, sql. I have also learned some ruby and typescript, but I plan to learn more. </p>

            <p style="font-size: 1.1em"> 
            <b>Frameworks and Related Methodologies: </b> MEAN stack (mongodb, express, angular, node), meteorjs, jquery, html, css,  REST APIs, AJAX</p>

            <p style="font-size: 1.1em"><b>Datebases:</b> Sql (oracle), mongodb using meteor and the MEAN stack. </p>

            <p style="font-size: 1.1em"> 
            <b>Programming Paradigms and Methodologies:</b> Object-oriented programming, imperative programming, functional programming, algorithm design and analysis.
            </p>
            
          
      </div>
    </div>
 
  
</div>

</div>



<div class = "container">
<div class="jumbotron" style="box-shadow: 10px 10px 5px #3E3F3A">
<h3 class="section-header">My Background </h3> 

 
    <div  class = "row" >
            
      
      <div class = "col-xs-10 col-xs-offset-1" style= " padding: 20px; color: black"> 
          
          
          <p style="font-size: 1.1em"> I recently earned a PhD in philosophy from the University of Connecticut and am currently looking to transition into a software development position that will afford me the opportunity to work on challenging technical problems in a role as either a software engineer, web developer, data scientist or researcher. My primary areas of research are in formal areas of philosophy involving decision theory, probability, analytic combinatorics, and other mathematically heavy areas of inquiry. I have published in very highly regarded academic journals in my field on a range of these issues. </p>

          <p style="font-size: 1.1em">  While teaching logic and philosophy classes at Connecticut College and the University of Connecticut, I also spent much of my free time the last two years taking a wide variety of software engineering and programming courses from leading universities via Coursera.org and Edx.org to help prepare for a career transition into technology. See my programming courses section <a href="#/courses"> here</a> for details of the programming courses I have taken, and technologies and programming languages that I have spent a substantial amount of time learning. </p>

  
      </div>
    </div>
 
  
</div>

</div>
