
<div class = "container">
	<h1 class="courses-header"> Programming Examples</h1>

	<p> </p>

	<div class="row">
		<div class= "col-xs-1 col-xs-offset-11" style="padding: 10px;"> 
			 <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        {{skillTerm}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      	<li role="menuitem"><a ng-click="courseFilter('all')">all</a></li>
      	<li role="menuitem"><a ng-click="courseFilter('algorithms')">algorithms</a></li>
        <li role="menuitem"><a ng-click="courseFilter('java ')">java</a></li>
        <li role="menuitem"><a ng-click="courseFilter('javascript')">javascript</a></li>
        <li role="menuitem"><a ng-click="courseFilter('python')">python</a></li>
        <li role="menuitem"><a ng-click="courseFilter('scala')">scala</a></li>
        <li role="menuitem"><a ng-click="courseFilter('object oriented')">object oriented</a></li>
        <li role="menuitem"><a ng-click="courseFilter('web development')">web development</a></li>
        <li role="menuitem"><a ng-click="courseFilter('mongodb')">mongodb</a></li>
        <li role="menuitem"><a ng-click="courseFilter('database')">databases</a></li>
        <li role="menuitem"><a ng-click="courseFilter('sql')">sql</a></li>
      </ul>
    </div>

	</div>

		<div class = "col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat ="example in examples"> <!-- ng-repeat = "example in examples"  -->

			<div class="panel panel-default">
			  <div class="panel-heading example-heading" style="overflow: hidden; color: black; " > 
        <h4> {{example.title}}</h4>
        <h8 > Skills Used: {{example.skills}}</h8>
          
         </div>
			  <div class="panel-body example-body test" ng-style="example.backgroundProp" ng-click="visitProject($index)"
        ng-mouseover= "mouseHover=true" ng-mouseleave="mouseHover=false"> 

          <p ng-show = "mouseHover" ng-init="mouseHover = false" style="color: black; white-space: pre-wrap;"><b> {{example.description}} </b> </p>

        </div>

        
		</div>

    




		</div>

	</div>
