
<header-links-dir></header-links-dir>


  <div class = "container" style="padding: 20px">
      <div class="row">
        <div class = "col-2-xs col-xs-offset-10 col-1-sm col-sm-offset-11 hidden-md hidden-lg hidden-xl"  >
           <button class="btn btn-default btn-lg toggle-button" ng-click="toggleFunct()">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="glyphicon glyphicon-menu-hamburger"> </span>
                  
          </button>
       </div>
  </div>

     <div class="row">
            <div class = "col-8-xs col-xs-offset-0" style="text-align: center">
              
              <h1 id = "nav-title" style="font-size: 2em; color: white"> Michael Hughes's </h1>
              </div>

              <div class = "col-10-xs col-xs-offset-1" style="text-align: center">
              
              <h1 id = "nav-title" style="font-size: 3em; color: white"> Programming Portfolio </h1>
              </div>
              
        </div>
</div>

<navbar-dir class= "hidden-xs hidden-sm"></navbar-dir>
<navbar-dropdown-dir class= "hidden-md hidden-lg hidden-xl" ng-if = "toggleVal"></navbar-dropdown-dir>
<br>

<!-- <div class="container">
  <div class="row">
    <div class="col-12-xs">
      <hr>
    </div>
  </div>
</div> -->
  