
<header-links-dir></header-links-dir>


  <div class = "container" style="padding: 20px">
    
  </div>

     <div class="row">
            <div class = "" style="text-align: center">
              
              <h1 id = "nav-title" style="font-size: 2em; color: white"> Michael Hughes's </h1>
              </div>

              <div class = "" style="text-align: center">
              
              <h1 id = "nav-title" style="font-size: 3em; color: white"> Programming Portfolio </h1>
              </div>
              
        </div>
</div>

<navbar-dir class= "hidden-xs hidden-sm"></navbar-dir>

<br>

<!-- <div class="container">
  <div class="row">
    <div class="col-12-xs">
      <hr>
    </div>
  </div>
</div> -->
  