<div  style = "margin: 0px padding:0px;" >
 
  <div class="btn-group" style=" width: 100%;">
  	
  	 <a href="#/" class="btn btn-default btn-block"><span class="glyphicon glyphicon-home"></span><br>Home</a>
    <a href="#/education" class="btn btn-default btn-block"><span class="glyphicon glyphicon-book"></span><br >Education</a>
    <a href="#/courses" class="btn btn-default btn-block"><span class="glyphicon glyphicon-education"></span><br>Programming<br> Courses</a>
     <a href="#/examples" class="btn btn-default btn-block"><span class="glyphicon glyphicon-certificate"></span><br>Programming<br> Examples</a>
       
  	
  </div>
</div>

