<div class="container" >
 
  <div class="btn-group btn-group-justified" style="box-shadow: 5px 5px 2.5px #EBEBEB;">
  	
  	 <a href="#/" class="btn btn-default"><span class="glyphicon glyphicon-home"></span><br>Home</a>
    <a href="#/education" class="btn btn-default"><span class="glyphicon glyphicon-book"></span><br >Education</a>
    <a href="#/courses" class="btn btn-default"><span class="glyphicon glyphicon-education"></span><br>Programming<br> Courses</a>
     <a href="#/examples" class="btn btn-default"><span class="glyphicon glyphicon-certificate"></span><br>Programming<br> Examples</a>
       
  	
  </div>
</div>